<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
{% assign t = site.data[page.lang] %}
{% include head.html.liquid t=t %}
<body>

{% include sidebar.html.liquid t=t %}

<main class="page">

  {% include header.html.liquid t=t %}

  {{ content }}

  {% include footer.html.liquid t=t %}

</main>

{% include scroll-top.html.liquid t=t %}

<script src="/assets/js/main.min.js?v=1777986715" defer></script>
<noscript><div><img src="https://mc.yandex.ru/watch/109026309" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>
